
{{define "D"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <header class="header">
        <h1 class="header-logo">Logo</h1>
        <form action="/search" method="GET" class="header-form">
            <input class="header-form-search" type="search" name="q" placeholder="Paris or London, etc">
        </form>
    </header>

    
    <div class="body-cities">
        {{range .Cities}}
        <div>
            <h1>{{.}}</h1>
        </div>
    {{end}}
    </div>
    
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ut unde ducimus eveniet iure ullam? Beatae libero dolor ratione molestiae suscipit unde consequatur obcaecati, culpa voluptate quae eum tenetur incidunt.
    Nisi tenetur repudiandae minus labore iure laboriosam quae asperiores autem omnis incidunt illo similique soluta quaerat ea quidem amet rerum iusto debitis in suscipit, est nihil adipisci ipsum officiis! Beatae!
    Dolorem reiciendis officiis consequatur impedit rem eligendi pariatur maiores aperiam ullam repudiandae atque quod voluptatem laudantium dolor, sunt quas veritatis. Voluptatum voluptatem, molestias quas voluptates esse suscipit doloremque ipsam tempora.
    Facilis quidem accusantium amet ullam natus quae dolore? Excepturi facere distinctio rem laudantium voluptas nihil voluptatibus quasi veritatis porro sunt, voluptate eum neque corrupti harum sed, vitae dolor doloribus nisi.
    Eius ea saepe enim quia atque tempora sapiente voluptates! Obcaecati debitis illum ab eos tenetur quo recusandae animi excepturi alias? Dicta minima tempora ea voluptates accusantium dignissimos? Explicabo, ducimus earum.
    Dolor unde a repudiandae maiores, blanditiis quas corporis molestiae neque reiciendis sed dicta quod eaque ipsam. Provident, velit totam cumque quae quos earum iste necessitatibus dolor fugit at delectus assumenda!
    Exercitationem sit sequi praesentium eos rerum aliquam, quo optio aliquid commodi dolores autem incidunt, ab impedit. Tempore debitis eligendi ratione. Ex obcaecati ipsa ducimus quibusdam fugiat eligendi dolorum! Ducimus, veniam.
    Cupiditate id corporis debitis ad, sapiente numquam! Dolores non obcaecati asperiores voluptatum, eum quidem cumque corrupti. Ad, illo ex voluptas nesciunt veritatis provident, inventore modi quo quidem at error ipsa.
    Animi debitis quos soluta blanditiis aliquid odit omnis itaque illum, quam suscipit ullam nesciunt aspernatur voluptate, quas error cumque labore culpa eligendi a ad obcaecati. Quidem, dignissimos. Cupiditate, repudiandae rem!
    Officiis aut rem obcaecati atque vitae voluptates quam pariatur eligendi quia aliquam, molestias enim blanditiis suscipit nisi maiores veniam perspiciatis provident. Assumenda obcaecati porro aliquam aliquid modi sit iste neque.
    Ipsa, pariatur excepturi quos delectus animi sequi dicta ad, nemo nihil fugiat quidem? Nobis dolorem, distinctio delectus temporibus non quas velit harum. Quasi eos accusamus autem perferendis ad quis est.
    Distinctio aliquid vitae at ratione numquam quia tenetur qui corporis porro quasi officia, laborum eum voluptas ab? Ratione illum nam recusandae quasi alias laboriosam eos veniam eligendi quidem rem. Vitae.
    Rerum repudiandae hic tempore vel nisi architecto quibusdam ex suscipit non! Aliquam quod ullam laboriosam quaerat suscipit nesciunt et fuga consequuntur modi voluptatibus repudiandae doloribus facilis, sequi harum? Eum, iste!
    Eos maiores officia eveniet rerum in nostrum quia, tempora cum beatae corrupti possimus suscipit ab ratione vero, deserunt velit voluptate illo a animi totam distinctio ea ipsa dolores. Nostrum, illum?
    Sunt, dolores alias quia ab pariatur unde ad odio dolorem qui itaque iure perspiciatis rerum est exercitationem quos eligendi eveniet laudantium accusamus? Consectetur saepe quaerat nam fugit! Ex, eaque impedit!
    Ab, eveniet architecto velit modi itaque, recusandae cum quam doloribus laboriosam veniam temporibus fuga non molestiae asperiores sed? Deserunt dolores praesentium voluptatem maxime blanditiis ipsam mollitia, earum eligendi odio tempore.
    Qui, itaque unde accusamus similique cupiditate rerum quaerat hic accusantium quos expedita! Maxime labore delectus deserunt quas deleniti fugit laudantium consectetur necessitatibus, reprehenderit nostrum ab neque expedita tempora animi repudiandae!
    Quas sequi harum odio accusamus alias facere quaerat adipisci atque assumenda quam doloremque natus nihil soluta earum architecto, similique sit provident eaque nam possimus dolorem temporibus vel nobis voluptatum. Rem!
    Odit consequuntur error nihil voluptatum eligendi eos, temporibus perferendis incidunt. Temporibus perferendis veritatis fuga unde qui doloribus, illum nulla rem est laudantium dolores laboriosam repellat voluptatem illo quas debitis accusantium!
    Velit odio odit amet inventore sequi provident hic dignissimos molestias iste illum, minima aliquid vero repellat aliquam doloribus laboriosam reprehenderit, debitis alias quod excepturi. Quo laudantium sunt vitae? Impedit, nam!
    Corrupti consequatur et architecto eveniet beatae ipsum eaque nobis officiis repellendus sapiente vero minima aperiam ad voluptas eos maxime laudantium quidem quas, ipsa dolorem sit. Quasi, quae. Quae, accusantium necessitatibus.
    Veniam nesciunt pariatur ad nihil, soluta est enim incidunt facilis laudantium a quos sit amet nam voluptates praesentium corporis similique necessitatibus, quia veritatis quod quam repellat cupiditate itaque! Nam, autem!
    Sed animi explicabo assumenda iste sint, atque aliquam repellat repellendus esse sit nihil eaque amet, voluptas voluptate doloremque perspiciatis soluta deleniti quod. Ipsa voluptates commodi non vitae repudiandae nobis quae?
    Dolores harum labore numquam vel et eveniet adipisci. Minus corrupti natus accusantium, nihil aliquid minima itaque expedita, animi modi at nesciunt quibusdam doloremque quasi asperiores fuga debitis? Explicabo, quam praesentium.
    Corrupti tempore at, recusandae mollitia aliquam eum voluptatem veritatis sint, eius saepe dolor eaque praesentium porro ducimus nihil illo, distinctio eos alias voluptas ab laborum non. Minima dolor odio doloribus.
    Eligendi, beatae. Modi, ipsum provident asperiores distinctio quibusdam illo beatae libero pariatur eligendi. Cumque, quisquam incidunt. Ut eius possimus ullam aspernatur nisi corrupti quia tempore deleniti, culpa esse cumque mollitia?
    Recusandae, eos facilis expedita error possimus unde ducimus, quibusdam atque illum, aperiam consectetur nemo facere numquam modi consequuntur dolor quia tempore architecto corrupti minus? Id excepturi tempore suscipit numquam earum.
    Modi incidunt pariatur aut molestias odit nam unde soluta, nesciunt ex, harum autem reiciendis ea! Beatae perspiciatis distinctio sequi ex possimus neque tempore. Voluptate laborum nihil iste, libero commodi eum.
    Nisi veniam aliquid similique iste facilis, odio aspernatur. Nemo illum nihil, numquam modi aliquam voluptate architecto mollitia. Ipsum molestiae alias libero obcaecati, cum incidunt labore dolore eligendi ratione quibusdam repellendus!
    Sunt, voluptate ab, eligendi officia sint saepe itaque iste nihil delectus deleniti nesciunt, natus quas numquam at earum accusantium quod quo alias doloremque nisi. Aliquam rerum numquam neque incidunt inventore.
    Tempora in ratione eaque earum impedit corporis. Tempore saepe id necessitatibus asperiores sit, quidem consequuntur voluptas blanditiis nihil a dolorem accusamus pariatur mollitia quibusdam! Placeat harum cupiditate laudantium iste nostrum!
    Eligendi, distinctio corporis odio harum dignissimos id, molestiae sequi, non fugiat consectetur amet aliquam nostrum soluta atque tenetur quae obcaecati accusamus. Tempora officiis dolorum vero repellendus in iure unde adipisci.
    Accusamus distinctio porro quaerat ipsa, repellat minima atque ab quibusdam culpa, fuga eos libero hic, et odit temporibus minus nihil deleniti maiores eius a ducimus voluptatem voluptas qui rerum? Nobis.
    Cumque, sed sequi! Quibusdam, provident sunt esse minima velit beatae facere asperiores iste ab, eos adipisci pariatur at voluptas vel harum repellendus accusantium suscipit praesentium obcaecati! Blanditiis laboriosam officia mollitia?
    Velit, pariatur amet? Repudiandae nulla iste, expedita quam ipsa dicta illo a delectus deserunt officiis veniam autem voluptatibus earum consequatur pariatur atque? Recusandae voluptate sapiente magni possimus ab. Reprehenderit, ea?
    Eius nobis incidunt eum ullam ea, pariatur praesentium temporibus eveniet, ratione soluta aspernatur dolorem aut impedit illo nihil, alias tempora et deleniti. Recusandae ratione harum, praesentium asperiores sunt reiciendis error!
    Dicta necessitatibus in ratione, mollitia odit officia, ipsam fugit et sequi, distinctio reiciendis commodi. Commodi libero nihil ducimus velit debitis, dolore impedit blanditiis error maxime culpa tempora consequatur ullam voluptas.
    Magni repellendus quaerat numquam eius et, nihil ex in labore, magnam dolore ullam quos officiis beatae inventore cum omnis impedit. Laboriosam ad nulla, fugiat provident vel nisi. Quas, nemo reprehenderit?
    Officiis aliquid accusamus minima officia impedit, sit quis id doloremque nesciunt autem provident nam molestias vitae assumenda tenetur dolor, porro, fugit perferendis unde cumque quia? Obcaecati doloremque non omnis aspernatur.
    Beatae ad repellat laborum autem vitae praesentium, amet quod. Laborum corporis in aspernatur harum pariatur delectus exercitationem distinctio, non laboriosam. Facere, distinctio dolor dolorem recusandae totam adipisci ratione voluptas nesciunt.
    Facilis obcaecati, sapiente consectetur velit, est dolore perspiciatis possimus quas quod non voluptas odio veniam, voluptatem rem corrupti aliquam quam! Ad eaque laborum, iste in alias laboriosam cum eveniet esse?
    Nobis beatae maxime ut delectus dolorem! Voluptatibus cupiditate impedit voluptatum incidunt ipsum, molestias dolorum. Corrupti, aliquid molestias. Debitis accusamus corrupti ab, harum, rerum sequi recusandae provident quia, eaque ipsa fugit?
    Harum ipsum facilis laboriosam culpa quaerat, obcaecati facere sunt, dignissimos fugit nemo provident natus delectus optio, fugiat voluptas cum corporis earum modi reiciendis. In, fuga dolorum reiciendis repellat cum optio.
    Incidunt impedit quam, cum voluptatibus eligendi, alias nihil nostrum autem quis vel commodi tenetur blanditiis, illum vitae quas! Labore amet consequuntur sint dignissimos non perspiciatis odit id hic voluptatibus debitis.
    Sequi iusto suscipit nulla magnam aliquam rerum, facilis delectus laudantium vel id. Ea suscipit itaque nulla voluptate praesentium corporis maiores, non accusantium beatae, voluptatum, eum sed minus exercitationem aspernatur unde!
    Quam, itaque at dolore ullam id asperiores rerum incidunt atque cupiditate, omnis molestiae eaque quibusdam quis quod quas cum corrupti sint nostrum eos labore dolorum explicabo. Sit eos delectus dolorum.
    Corrupti nam harum maxime soluta dolore eaque quos alias fugiat ipsam sapiente at cumque minus nulla officiis enim quod laborum mollitia perspiciatis doloribus, dolor suscipit voluptas. Debitis ex quas delectus.
    Ex dolore cum voluptates similique, eum laudantium aut voluptas, eveniet sapiente a quidem? Labore optio expedita quisquam cumque nostrum, suscipit, laborum nam quidem id consectetur recusandae maxime pariatur sapiente tempora?
    Deleniti harum itaque eligendi tempora, ipsum quas praesentium explicabo nesciunt id vel fuga doloribus sed totam eius incidunt nisi optio exercitationem adipisci natus dolorem sapiente! Aspernatur dolorum a enim laboriosam.
    Enim temporibus repellat repudiandae ipsam atque beatae aliquid cumque fuga. Molestias dolor eos repudiandae. Quia, dicta omnis. Illo error neque inventore eveniet doloribus laudantium dolore minus ipsam alias? Repellendus, ratione!</div>
{{end}}

{{define "T"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>

    <header class="header">
        <h1 class="header-logo">Logo</h1>
        <form action="/search" method="GET" class="header-form">
            <input class="header-form-search" type="search" name="q" placeholder="Paris or London, etc">
        </form>
    </header>

    <div class="body-result">
        <p>Result for : <strong>{{.ChosenCity}}</strong></p>
        <div>
            <h1>{{.ChosenCity}}</h1>
        </div>
    </div>
{{end}}
</body>
</html>