/* CSS reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Import font */
@font-face {
    font-family: 'kionaregular';
    src: url('../font/kiona-regular-webfont.woff2') format('woff2'),
         url('../font/kiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	width: 100%; min-height: 100vh;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	
	font-family: 'kionaregular', Arial, sans-serif;
	background-color: #4B9CD3;
	font-size: 100%;
	font-weight: 900;
}

/* Header */
.header {
	color: white;
	place-self: center;
	grid-row: 1/3;
}

.header-title {
	text-transform: uppercase;
	font-size: 4em;
}

.fa-plane {
	font-size: 1em;
}

/* Main content */
.main::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	background-color: #17a2b8;
	width: 100%;
	height: 100%;
	z-index: -1;
    clip-path: circle(69.1% at 0 50%);
	/* clip-path: circle(100.1% at 0 0); */
}

.main {
	height: 100%;
	width: 100%;
	grid-row: 3/-1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 50px;
}

.card {
    width: 280px; height: 400px;
    display: grid;
    grid-template-rows: 3fr 2fr 2fr;
    border-radius: 20px;
    overflow: hidden;
    background-color: #000;
	background-color: #123456;
    transition: all 300ms ease-out;
    color: burlywood;
    cursor: pointer;
}

.card-header {
    clip-path: circle(75.0% at 50% 0);
}

.card-header-image {
    width: 100%;
    height: 100%;
}

.card-infos {
    grid-row: 2/-1;
    text-align: center;
    display: grid;
    align-items: center;
}

.card-infos-city {
	text-transform: lowercase;
	font-size: 2em;
}

.card-infos-country {
	color: whitesmoke;
	font-size: 1.5em
}

.card-infos-stars {
	color: gold;
	font-size: 1.5em;
}


.card:hover {
	transform: translate(0, -20px);
}