/* CSS reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--component-bg-color: #123456;
	--star-color: #EDE862;
}

/* Import font */
@font-face {
    font-family: 'kionaregular';
    src: url('../font/kiona-regular-webfont.woff2') format('woff2'),
         url('../font/kiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	width: 100%; min-height: 100vh;
	display: grid;
	grid-template-rows: 75px repeat(4, 1fr);
	
	font-family: 'kionaregular', Arial, sans-serif;
	background-image: url(../images/main-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 100%;
	font-weight: 900;
	user-select: none;

}